<div>

    <section style="float: left; width: 65%">
        <form class="contact_form" action="#" id="contact_form" runat="server">
            <div style="margin-right: -50px">
                <ul class="col-xs-7 col-md-9 col-xl-11">
                    <li>
                        <h3 class="">
                            <span style="color: rgb(35, 75, 255)">M21</span> - 
                            <span >{{titulo}} </span> 
                        </h3>

                        
                            <mat-chip  disabled  style="background-color: green; color: white">En curso</mat-chip>
                        
                    </li>

                    <ul class="col-xs-7 col-md-9 col-xl-12">
                        <li style="margin-top: 20px;margin-right: 20px; float: left;width: 72%;border: 1px solid #000000;">
                                <div  class="demo-chip-list" style="border: none; width: 100%; height: 410px; margin-right: 40px">
                                        <mat-list>
                                            <mat-list-item  *ngFor="let pregunt of preguntas">  <mat-chip style="background-color: rgb(151, 216, 241)" disabled>{{pregunt}}</mat-chip></mat-list-item>
                                         </mat-list>   
                                      
                                    </div>
                        </li>
                        <li style="margin-top: 20px; float: right;width: 25%;border: 1px solid #000000;">
                            
                            <div style="padding-bottom: 20px;border-bottom: 1px solid black">
                                    <span style=" font-size: 16px">Preguntas:</span>
                                    <button (click)="openDialog()" style="float: right;background-color: rgb(44, 44, 44)" mat-icon-button>
                                        <mat-icon style="color: rgb(255, 255, 255)">add_box</mat-icon>
                                    </button> 
                            </div>
                            
                            <mat-form-field   class="demo-chip-list" style="width: 100%; height: 366px; margin-right: 40px; padding-top: 5px">
                                <mat-chip-list   #chipList>
                                    <mat-chip style="background-color: rgb(145, 233, 245)" *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (remove)=remove(fruit) >
                                        {{fruit.name}}
                                        <mat-icon title="responder" (click)="remove(fruit)" matChipRemove *ngIf="removable">reply</mat-icon>
                                    </mat-chip>
                                </mat-chip-list>
                            </mat-form-field>
                        </li>
                    </ul>


                        <div >
                            <div class="input-group"  >
                                <textarea name="preg" #preg=ngModel [(ngModel)]="pregunta" style=" width: 100%;margin-top: 20px" type="text" rows="2"></textarea>
                                <span class="input-group-btn" style=" margin-top: 20px; ">
                                <button (click)="addpre()" class="btn btn-default" style="height: 60px;"  type="button">Enviar</button>
                                </span>
                            </div>
                        </div>
                       
                        
                  
                </ul>


            </div>
        </form>
    </section>
    <section style="float: right; width: 25%; margin-right: 30px; ">




        <form class="" action="#" id="" runat="server">
                <h3 style="margin-bottom: 20px">Otras salas</h3>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                        
                        <ng-container matColumnDef="position">
                          <th mat-header-cell *matHeaderCellDef >   <mat-icon >meeting_room</mat-icon> </th>
                          <td  mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>
                      
                        <ng-container matColumnDef="name">
                          <th mat-header-cell *matHeaderCellDef>  </th>
                          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="puntos">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let element"> {{element.puntos}} </td>
                              </ng-container>
                      
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                <div style="margin-left: 70px" [routerLink]="['/ranking']">
                    <span style="font-size: 10px" >Ver mas salas</span>
                </div>

            
       
        </form>




    </section>
          
 
</div>