

<mat-toolbar  style="padding-top: 5px;background-color:rgb(192, 192, 192); border-bottom: 2px solid rgb(29, 29, 29)" color="primary">
    
    <button style="color: rgb(0, 0, 0); margin-left: -10px" type="button" mat-icon-button (click)="sidenav.toggle()" title="Abrir menu">
      <mat-icon >menu</mat-icon>
    </button>
    <div style="padding-left: 10px;flex:auto">
        <img [routerLink]="['/inicio']" style=" width: 100px; height: 40px;" class="manImg" src="http://www.querytalks.com/images/querytalks-logo.png">
    </div>

    <div >
      <button [matMenuTriggerFor]="appMenu2"  matBadgePosition="above after"  matBadgeColor="warn" style="flex: auto;background-color: #2c2c2c; margin-right: 10px" mat-icon-button>
        <mat-icon style="color: rgb(187, 231, 236);">mail</mat-icon>
      </button>
      <button   (click)="sidenav2.toggle()"  matBadge="7"  matBadgePosition="above after"  matBadgeColor="warn"  style="flex: auto;background-color: #2c2c2c; margin-right: 10px" mat-icon-button>
        <mat-icon  style="color: rgb(255, 255, 0)">notifications</mat-icon>
      </button>
      <button  style="flex: auto;background-color: #2c2c2c; margin-right: 10px" mat-icon-button>
          <mat-icon style="color: rgb(132, 137, 207)">account_circle</mat-icon>
        </button>
      <button  [matMenuTriggerFor]="appMenu"  style="flex: auto;background-color: #2c2c2c;" mat-icon-button>
        <mat-icon style="color: rgb(163, 163, 147)">settings</mat-icon>
      </button>

      
        

    </div>



  </mat-toolbar>

<mat-sidenav-container style="">
  <mat-sidenav #sidenav  style="background-color: rgb(214, 214, 214)">

    <mat-list>
      <div style="margin-right: 20px">
        <mat-list-item style="" [routerLink]="['/inicio']">
          <mat-icon style="color: rgb(0, 153, 255)">home</mat-icon><span style="font-family: Roboto,sans-serif; font-size: 18px; padding-left: 13px;color: rgb(0, 0, 0)">Inicio</span>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close(); openSnackBar() " [routerLink]="['/sala']">
        <mat-icon style="color: rgb(20, 114, 32)">group</mat-icon><span style="font-family: Roboto,sans-serif; font-size: 18px;padding-left: 13px; color: rgb(0, 0, 0)">Sala Privada</span>
      </mat-list-item>
      <mat-list-item  [routerLink]="['/principal']">
        <mat-icon style="color: red">priority_high</mat-icon><span style="font-family: Roboto,sans-serif; font-size: 18px;padding-left: 13px; color: rgb(0, 0, 0)">Pruebas</span>
      </mat-list-item>
      <mat-list-item  [routerLink]="['/ranking']">
        <mat-icon style="color: yellow">star_rate</mat-icon><span style="font-family: Roboto,sans-serif; font-size: 18px;padding-left: 13px; color: rgb(0, 0, 0)">Ver Ranking</span>
      </mat-list-item>
      </div>
      
    </mat-list>
  </mat-sidenav>



  <mat-sidenav  #sidenav2  position="end"  class="example-sidenav" >
     <mat-list>
      
      <div>
          <div style="width: 200px;margin-left: 20px; margin-right: 20px; margin-top: -10px" class="an-notifications">
              <h6 >Notificaciones</h6>
              <div class="notification-single">
                <div class="avatar avatar-icon"><i class="fa fa-user"></i></div>
                <p class="details">
                  <a href="#">Alex Valverde</a>
                  <span>
                      Enviada una solicitud de revisión a Stephany Nunes</span>
                </p>
                <p class="time">hace 3 minutos</p>
              </div><div class="notification-single">
                <div class="avatar">
                  <img alt="" src="http://d1kf524xy44y20.cloudfront.net/assets/img/user1.jpg">
                </div>
                <p class="details">
                  <a href="#">Ernesto Jara</a>
                  <span>Enviada una solicitud de revisión a Stephany Nunes</span>
                </p>
                <p class="time">hace 6 minutos</p>
              </div><div class="notification-single">
                
                <div class="success avatar avatar-icon"><i class="fa fa-star"></i></div>
            
                <p class="details">
                  
                  <span>
                      ¡Nuestra calificación promedio aumenta!</span>
                </p>
                <p class="time">hace 12 minutos</p>
              </div><div class="notification-single">
                
            
                <div class="avatar avatar-icon warning"><i class="fa fa-exclamation-triangle"></i></div>
            
                <p class="details">
                  
                  <span>La carga del servidor es del 95%, ¡tratando de reducirlo!</span>
                </p>
                <p class="time">hace 23 minutos</p>
              </div><div class="notification-single">
                <div class="avatar">
                  <img alt="" src="http://d1kf524xy44y20.cloudfront.net/assets/img/user2.jpg">
                </div>
            
                
            
                <p class="details">
                  <a href="#">Henry Guzmán</a>
                  <span>
                      Enviada una solicitud de revisión a Amanda Nunes</span>
                </p>
                <p class="time">hace 1 hora</p>
              </div><div class="notification-single">
                
            
                <div class="avatar avatar-icon danger"><i class="fa fa-user-times"></i></div>
            
                <p class="details">
                  
                  <span>¡Plan de subscripción no renovado!</span>
                </p>
                <p class="time">hace 2 horas</p>
              </div><div class="notification-single">
                
            
                <div class="avatar avatar-icon"><i class="fa fa-user"></i></div>
            
                <p class="details">
                  <a href="#">Bruce Wayne</a>
                  <span>Enviada una solicitud de revisión a Amanda Nunes</span>
                </p>
                <p class="time">hace 1 dia</p>
              </div>
            </div>
      
      </div>
      
    </mat-list>
     
    </mat-sidenav>

  <mat-menu  #appMenu="matMenu" yPosition="above"  [overlapTrigger]="false">
      <button  mat-menu-item>Configuración</button>
      <button mat-menu-item>Ayuda</button>
    </mat-menu>


    <mat-menu  #appMenu2="matMenu" yPosition="above"  [overlapTrigger]="false">
        <div style="margin: 20px">

            <span>No tienes mensajes</span>
        </div>  
      
      </mat-menu>

    
    <mat-sidenav-content style="height: 700px; margin: 30px">


        <router-outlet></router-outlet>
        
      </mat-sidenav-content>
 

</mat-sidenav-container>